@import "tailwindcss";

@theme {
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }

        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }

        to {
            height: 0;
        }
    }
}

@layer utilities {
    .container {
        margin-inline: auto;
        padding-inline: 2rem;

        @media (width >=--theme(--breakpoint-sm)) {
            max-width: none;
        }

        @media (width >=1400px) {
            max-width: 1400px;
        }
    }
}

.bg-dot-grid {
    background-image: radial-gradient(circle, #e5e7eb 1px, transparent 1px);
    background-size: 24px 24px;
}

.dark .bg-dot-grid {
    background-image: radial-gradient(circle, #333 1px, transparent 1px);
}


/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to sure everything still looks the same.
*/
@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 0%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 0%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 0%;

        --primary: 0 0% 0%;
        --primary-foreground: 0 0% 100%;

        --secondary: 0 0% 96%;
        --secondary-foreground: 0 0% 0%;

        --muted: 0 0% 96%;
        --muted-foreground: 0 0% 45%;

        --accent: 0 0% 96%;
        --accent-foreground: 0 0% 0%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 90%;
        --input: 0 0% 90%;
        --ring: 0 0% 0%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 0%;
        --foreground: 0 0% 100%;

        --card: 0 0% 0%;
        --card-foreground: 0 0% 100%;

        --popover: 0 0% 0%;
        --popover-foreground: 0 0% 100%;

        --primary: 0 0% 100%;
        --primary-foreground: 0 0% 0%;

        --secondary: 0 0% 15%;
        --secondary-foreground: 0 0% 100%;

        --muted: 0 0% 15%;
        --muted-foreground: 0 0% 65%;

        --accent: 0 0% 15%;
        --accent-foreground: 0 0% 100%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 20%;
        --input: 0 0% 20%;
        --ring: 0 0% 100%;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}